.callout.callout-danger {
    background-color: #fcf2f2!important;
    border-color: #dfb5b4;
}
.box-header, .callout {
    color: #444;
    display: block;
    padding: 10px;
    position: relative;
}

div#sidebar-collapse li {
    border: 1px solid #a9c72f;
    margin-top: 8px;
    padding: 7px 20px;
    background: white;
}
div#sidebar-collapse li a {
    font-size: 16px;
    font-variant: all-small-caps;
    font-weight: 600;
}
div#sidebar-collapse li a em {
    padding-right: 9px;
}
div#sidebar-collapse li:hover a {
    color: white;
}

div#sidebar-collapse li:hover {
    background: #a9c72f;
}
.box-tools a {
    background: #a9c72f;
    color: white;
    font-weight: 600;
    font-size: 14px;
    border: 1px solid #a9c72f;
}
.box-tools i.fa {
    padding-right: 4px;
}
.box-tools a:hover {
    background: white;
    color: #a9c72f;
    border-color: #a9c72f;
}
.has-feedback img {
    min-width: 20%;
    max-width: 20% !important;
}
label.imgLabel {
    max-width: 100%;
    min-width: 100%;
}
input.imgUpload {
    width: 70%;
    display: inline-block;
}
.form-group.has-feedback img {
    display: inline;
}